html, body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 241, 218); 
}

.container {
    width: 98vw;
    height: 96vh; 
    display: grid;
    padding: 10px;
    border: 5px solid black; 
    margin: 10px;
    grid-template-areas: "header header header" 
                        "inputdata showdata showdata"
                        "footer footer footer";
    grid-template-columns: auto 1fr 1fr; /* 3 colunas */
    grid-template-rows: 80px 1fr 80px; /* 3 linhas */
    gap: 5px;
}

header {
    grid-area: header;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
}

.input-dados {
    grid-area: inputdata; 
    margin: 10px;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 4px;
} 

.show-dados {
    grid-area: showdata; 
    border: 2px solid #999;
    border-radius: 4px; 
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
}

footer {
    grid-area: footer;
    background-color: rgb(149, 156, 221);
    color: #ddd;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.input-dados:after {
    content: "";
    display: table;
    clear: both;
}


#input-titulo {
    margin: 1px;
    border: 1px solid rgb(35, 32, 24);
    width: 94%;
    padding: 10px; 
    font-size: 16px;
}


#input-tipo {
    margin: 1px;
    border: 1px solid rgb(35, 32, 24);
    width: 35%;
    padding: 10px;
    font-size: 16px;
}


#input-media {
    margin: 1px;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}


#input-info {
    margin: 1px;
    border: 1px solid rgb(35, 32, 24);
    width: 94%; 
    padding: 10px;
    font-size: 16px;
}


.insert-btn {
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: rgb(51, 47, 36);
    color: rgb(235, 232, 241);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

.insert-btn:hover {
    background-color: #2ab53a;
    color: white;
}

.close-btn {
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: rgb(51, 47, 36);
    color: rgb(235, 232, 241);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

.close-btn:hover {
    background-color: #b52a2a;
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse; 
    cursor: pointer;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    transition: 0.2s;
    background-color: white;
}


#th-titulo {
    background-color: aqua;
    margin: 0;
    width: 50%;
    padding: 10px;
    font-size: 16px;
}


#th-tipo {
    background-color: aqua;
    margin: 0;
    width: 15%;
    padding: 10px;
    font-size: 16px;
}


#th-media {
    background-color: aqua;
    margin: 0;
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#th-info {
    background-color: aqua;
    margin: 0;
    width: 50%;
    padding: 10px;
    font-size: 16px;
}

#th-del {
    background-color: aqua;
}


.close:hover {
    color: #f44336;
    font-weight: bolder;
}


tr:nth-child(odd){
    background-color: #eee;
}


tr:hover {
    background: rgb(200, 199, 199);
}


/*
.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}
*/
